body {
	max-width: 780px;
	margin: 0 auto;
	font-family: verdana;
	font-size: 14px;
	background-color: #5D9B88;
}

#container{
	background-color: #D8D8D8;
	border-radius: 10px;
}

h1, h2{
	margin-left: 20px;
	padding: 5px;
	color: #067250;
}

h2{
	font-style: italic;
}

h3 a{
	color: #07996B;
	text-decoration:none;
	margin-left: 20px;
}

ul {
	line-height: 25px;
	margin: 15px;
	margin-bottom: 35px;
}

ol {
	margin-bottom: 300px;
}

#instructions{
	margin: 15px;
	margin-bottom: 30px;
}
